# Compiled files
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
cpp/ndnrtc-demo

#MacOS
.DS_Store
.com.apple.timemachine.supported

#Latex
*.log
*.aux
*.toc
*.out

# dev folders
cpp/debug
cpp/release

# Autoconf
cpp/Makefile
cpp/src/objc/Makefile
cpp/include/Makefile
cpp/autom4te.cache
cpp/config.log
cpp/config.status
cpp/include/config.h
cpp/_configs.sed
cpp/stamp-h1
cpp/include/stamp-h1
cpp/aclocal.m4
cpp/libtool
cpp/condefs.h
cpp/conftest.cpp
cpp/conftest.err
cpp/test-suite.log
*.Po
.deps
.dirstamp
*.tar.gz

# Let autoconf automatically copy these files
cpp/m4/libtool.m4
cpp/m4/ltoptions.m4
cpp/m4/ltsugar.m4
cpp/m4/ltversion.m4
cpp/m4/lt~obsolete.m4

#Other
cpp/resources/*.yuv
cpp/resources/*.pcmu
docs
test_app/suite
.settings
