cpp/bin
cpp/obj
cpp/thirdparty/ndn-webrtc
cpp/thirdparty/ndn-ncurses
cpp/thirdparty/ndn-config
cpp/thirdparty/ndn-gtest
.DS_Store
*.log
*.aux
*.toc
*.out
cpp/resources
cpp/thirdparty
docs
test_app
.deps