[submodule "cpp/contrib/gtest"]
	path = cpp/contrib/gtest
	url = https://github.com/google/googletest.git
[submodule "cpp/contrib/docopt"]
	path = cpp/contrib/docopt
	url = https://github.com/docopt/docopt.cpp.git
